<xc-dialog-wrapper xc-i18n-context="zeta.auth.change-password">
    <ng-container header><span>{{ 'header' | xcI18n }}</span></ng-container>
    <section content xc-form #form="xc-form">
        <div *ngIf="error" class="error" xc-i18n>unauthorized</div>
        <xc-form-input
            [(value)]="oldPassword"
            label="oldPassword"
            xc-i18n
            type="password"
            xc-form-field-suffix="password"
            xc-form-validator-required
        ></xc-form-input>
        <xc-form-input
            [(value)]="newPassword"
            type="password"
            label="newPassword"
            xc-i18n
            xc-form-validator-required
            [xc-form-validator-custom]="newPasswordValidator"
        ></xc-form-input>
        <xc-form-input
            [(value)]="confirmPassword"
            type="password"
            label="confirmPassword"
            xc-i18n
            [xc-form-validator-custom]="confirmPasswordValidator"
        ></xc-form-input>
        <div class="hint">{{'hint' | xcI18n:policy}}</div>
    </section>
    <ng-container footer>
        <xc-button (click)="dismiss()" xc-focus-initial xc-i18n>cancel</xc-button>
        <xc-button (click)="apply()" [disabled]="form.invalid" xc-i18n>apply</xc-button>
    </ng-container>
</xc-dialog-wrapper>
