<div class="stack-items" >
  @for (stackItem of dataSource.stackItems; track stackItem) {
    <div class="item" #items>
      <xc-template [xc-template-instance]="stackItem.getTemplate()">
      </xc-template>
    </div>
  }
</div>
<div class="breadcrumb-overview">
  @for (stackItem of dataSource.stackItems; track stackItem; let i = $index) {
    <xc-button
      [xc-tooltip]="breadcrumbLabels.get(stackItem)"
      [xc-button-aria-label]="ariaBreadcrumbLabel(stackItem)"
      class="breadcrumb"
      (click)="scrollToStackItem(i)"
    >{{breadcrumbLabels.get(stackItem)}}</xc-button>
  }
</div>