<mat-nav-list>
    <ul [attr.aria-label]="ariaLabel">
        <li *ngFor="let item of items">
            <xc-nav-list-item
                    [item]="item"
                    [size]="size"
                    [depth]="0"
                    [color]="color"
                    [shrink]="shrink"
                    [orientation]="orientation"
                    (focusChange)="focusChange($event)"
            >{{item.name}}
            </xc-nav-list-item>
        </li>
    </ul>
</mat-nav-list>