<div class="path-row" xc-i18n-context="zeta.xc-path-browser">
  <xc-button (click)="select(null)" xc-i18n>button-root</xc-button>
  <xc-form-input [value]="currentPath" disabled xc-form-field-compact></xc-form-input>
</div>
@if (currentItem) {
  <div class="wrapper">
    <div class="label-wrapper">
      <label class="label">{{currentItem.name}}</label>
    </div>
    <div class="path-options">
      @for (parent of parentsFromPath(); track parent) {
        <span
          (dblclick)="select(parent)"
          class="option parent-option"
        >.. ({{parent.name}})</span>
      }
      @for (child of currentItem.children; track child) {
        <span
          (dblclick)="select(child)"
          class="option child-option"
        >{{child.name}}</span>
      }
    </div>
  </div>
}