<mat-tab-group animationDuration="0" (keyup.delete)="closeFocusedTab()">
  @for (item of items; track item) {
    <mat-tab>
      <ng-template mat-tab-label>
        <xc-icon [xc-icon-name]="item.icon" [xc-icon-style]="item.iconStyle" xc-icon-size="small" [xc-tooltip]="getTooltip(item)" (mouseup)="mouseup($event, item)">{{item.name}}</xc-icon>
        @if (item.closable) {
          <xc-icon-button xc-tooltip="{{item.closeTooltip || ('zeta.xc-tab-bar.close' | xcI18n:item.name)}}" xc-icon-name="close" xc-icon-size="small" xc-button-aria-label=" " (click)="close(item).subscribe()"></xc-icon-button>
        }
      </ng-template>
      @if (isComponentInitialized(item)) {
        <ng-container [ngComponentOutlet]="getComponent(item)" [ngComponentOutletInjector]="getComponentInjector(item)"></ng-container>
      }
    </mat-tab>
  }
  @if (busy) {
    <mat-tab aria-labelledby="busy" disabled><ng-template mat-tab-label><xc-spinner></xc-spinner></ng-template></mat-tab>
  }
</mat-tab-group>