<xc-panel
  [xc-panel-collapsable]="definition?.collapsable"
  [xc-panel-collapsed]="definition?.collapsed"
  class="{{classList}}"
  [ngClass]="{'maximize': areaValue}"
  >
  <header>
    @if (definition?.label) {
      @if (!definition?.getParent()) {
        <h1 class="items-left items-selectable" tabindex="0">{{definition?.translate(definition?.label) | async}}</h1>
      }
      @if (definition?.getParent()) {
        <h2 class="items-left items-selectable" tabindex="0">{{definition?.translate(definition?.label) | async}}</h2>
      }
    }
    <div class="items-left">
      @for (child of definition?.header?.leftArea?.children; track child) {
        <xc-definition-proxy
          [xc-base-definition]="child"
          [xc-base-definition-data]="definitionData"
          [xc-definition-observer]="definition.observer"
        ></xc-definition-proxy>
      }
    </div>
    <div class="items-right">
      @for (child of definition?.header?.rightArea?.children; track child) {
        <xc-definition-proxy
          [xc-base-definition]="child"
          [xc-base-definition-data]="definitionData"
          [xc-definition-observer]="definition.observer"
        ></xc-definition-proxy>
      }
      <ng-content select="[additionalHeaderItems]"></ng-content>
      @if (!definition?.getParent()) {
        <xc-icon-button [xc-icon-name]="areaValue ? 'minimize' : 'maximize'" xc-icon-size="small" xc-icon-style="xds" (click)="resize()" xc-tooltip="{{toolTip | xcI18n}}" xc-button-aria-label="{{'resize' | xcI18n}}"></xc-icon-button>
      }
      @if (definition.closable) {
        <xc-icon-button xc-icon-name="close" xc-icon-size="small" (click)="closed.emit()" xc-tooltip="{{'close' | xcI18n}}"></xc-icon-button>
      }
    </div>
  </header>
  @if (definition?.children?.length > 0) {
    <section class="stretch scroll">
      @for (child of definition?.children; track child) {
        <xc-definition-proxy
          [xc-base-definition]="child"
          [xc-base-definition-data]="definitionData"
          [xc-definition-observer]="definition.observer"
        ></xc-definition-proxy>
      }
    </section>
  }
  <ng-content select="[additionalContentItems]"></ng-content>
  <footer>
    @if (definition?.footer?.leftArea?.children) {
      <div class="items-left">
        @for (child of definition?.footer?.leftArea?.children; track child) {
          <xc-definition-proxy
            [xc-base-definition]="child"
            [xc-base-definition-data]="definitionData"
            [xc-definition-observer]="definition.observer"
          ></xc-definition-proxy>
        }
      </div>
    }
    <ng-content select="[additionalFooterItems]"></ng-content>
    @if (definition?.footer?.rightArea?.children) {
      <div class="items-right">
        @for (child of definition?.footer?.rightArea?.children; track child) {
          <xc-definition-proxy
            [xc-base-definition]="child"
            [xc-base-definition-data]="definitionData"
            [xc-definition-observer]="definition.observer"
          ></xc-definition-proxy>
        }
      </div>
    }
  </footer>
</xc-panel>
